---
import '@/styles/globals.css'

import Layout from '../../layouts/Layout.astro';

import { getCollection } from 'astro:content';
// import  actualitesSchema  from '../../types/actualites';

const allActualites = await getCollection('actualites');
console.log(allActualites);

---
<Layout >
    <div class="container mx-auto">
    <h1 class="text-3xl">Actualités</h1>
    <p>Les dernières actualités de l'association</p>

    {allActualites.map((actualite:any) => (
        <div>{actualite.titre}</div>
    ))}
    </div>
</Layout>